/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: #c0caf5;
    }

    to {
        color: #c0caf5;
        background-color: #e0af68;
    }
}

@keyframes blink-critical {
    70% {
      color: #c0caf5;
    }

    to {
        color: #c0caf5;
        background-color: #f7768e;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

* {
    border: none;
    border-radius: 5px;
    min-height: 25px;
    margin: 2px;
    padding: 0;
    font-weight: 500;
}

/* The whole bar */
#waybar {
    background: #1a1b26;
    color: #c0caf5;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    border-radius: 0;
}

/* Each module */
#battery,
#date,
#clock,
#cpu,
#language,
#memory,
#mode,
#pulseaudio,
#temperature,
#backlight,
#tray {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #24283b;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #9d7cd8;
    color: #1a1b26;
}

#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f7768e;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: 500;
    background-color: #e0af68;
    color: #1a1b26;
}

#cpu.warning {
    color: #e0af68;
}

#cpu.critical {
    color: #f7768e;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #e0af68;
}

#memory.critical {
    color: #f7768e;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-spotify {
    color: #9ece6a;
}

#temperature.critical {
    color: #f7768e;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: #c0caf5;
    background-color: #24283b;
}

#workspaces button.active {
    border-color: #7aa2f7;
    color: #1a1b26;
    background-color: #c0caf5;
}

#workspaces button.urgent {
    border-color: #f7768e;
    color: #f7768e;
}

#pulseaudio {
  background-color: #9ece6a;
  color: #1a1b26;
}
