/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: #fbf1c7;
    }

    to {
        color: #fbf1c7;
        background-color: #fabd2f;
    }
}

@keyframes blink-critical {
    70% {
      color: #fbf1c7;
    }

    to {
        color: #fbf1c7;
        background-color: #fb4934;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

* {
    border: none;
    border-radius: 5px;
    min-height: 25px;
    margin: 2px;
    padding: 0;
    font-weight: 500;
}

/* The whole bar */
#waybar {
    background: #282828;
    color: #fbf1c7;
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    border-radius: 0;
}

/* Each module */
#battery,
#date,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#backlight,
#tray {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3c3836;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #b16286;
    color: #1d2021;
}

#battery.warning {
    color: #fabd2f;
}

#battery.critical {
    color: #fb4934;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: 500;
    background-color: #fabd2f;
    color: #1d2021;
}

#cpu.warning {
    color: #fabd2f;
}

#cpu.critical {
    color: #fb4934;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #fabd2f;
}

#memory.critical {
    color: #fb4934;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network.disconnected {
    color: #fabd2f;
}

#custom-spotify {
    color: #8ec07c;
}

#temperature.critical {
    color: #fb4934;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: #fbf1c7;
    background-color: #3c3836;
}

#workspaces button.active {
    border-color: #458588;
    color: #1d2021;
    background-color: #fbf1c7;
}

#workspaces button.urgent {
    border-color: #9d0006;
    color: #9d0006;
}

#pulseaudio {
  background-color: #8ec07c;
  color: #1d2021;
}
