window {
    margin: 0px;
    border: 1px solid #bb9af7;
    background-color: #1a1b26;
}

#input {
    margin: 5px;
    border: none;
    color: #c0caf5;
    background-color: #24283b;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1a1b26;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1a1b26;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c0caf5;
} 

#entry.activatable #text {
    color: #1a1b26;
}

#entry > * {
    color: #c0caf5;
}

#entry:selected {
    background-color: #33467c;
}

#entry:selected #text {
    font-weight: bold;
}
